@page "/recommendations"
@using BlazorGraph.Persistence.Repositories
@rendermode InteractiveServer
@inject UserRepository UserRepository

<PageTitle>Recommendations</PageTitle>

<h1>Product Recommendations</h1>

<div class="mb-3">
    <label for="userSelect" class="form-label">Select a User to see what they might like:</label>
    <select id="userSelect" class="form-select" @onchange="OnUserSelected">
        <option value="">-- Choose a User --</option>
        @foreach (var name in _userNames)
        {
            <option value="@name">@name</option>
        }
    </select>
</div>

@if (_isLoading)
{
    <p>
        <em>Searching the graph... 🕸️</em>
    </p>
}
else if (_recommendations.Any())
{
    <h4>Suggested for @_selectedUserName:</h4>
    <ul class="list-group">
        @foreach (var item in _recommendations.OrderByDescending(x => x.Value))
        {
            <li class="list-group-item d-flex justify-content-between align-items-center">
                @item.Key
                <span class="badge bg-primary rounded-pill">@item.Value peers bought this</span>
            </li>
        }
    </ul>
}
else
{
    <p class="text-muted">No recommendations available for @_selectedUserName at this time.</p>
}


@code {
    private IList<string> _userNames = [];
    private string _selectedUserName = string.Empty;
    private IDictionary<string, long> _recommendations = new Dictionary<string, long>();
    private bool _isLoading;


    protected override async Task OnInitializedAsync()
    {
        _isLoading = true;
        _userNames = await UserRepository.GetExistingUserNamesAsync();
        _isLoading = false;
    }

    private async Task OnUserSelected(ChangeEventArgs arg)
    {
        _selectedUserName = arg.Value?.ToString() ?? string.Empty;

        if (string.IsNullOrWhiteSpace(_selectedUserName))
        {
            _recommendations = new Dictionary<string, long>();
            return;
        }

        _isLoading = true;
        _recommendations = await UserRepository.GetRecommendationsAsync(_selectedUserName);
        _isLoading = false;
    }

}